<%= form_for [@product, @pa_map], remote: true do |f|   %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="col-xs-2 col-md-1">
  <%= @pa_map.auction_id.blank? ? '-' : @pa_map.auction_id %>
</div>
<div class="col-xs-10 col-md-9">
  <%= collection_select :pa_map, :auction_id, auctions_hash_help(1), :first, :last, {},
      {selected: @pa_map.auction_id, :class => 'form-control form-field'} %>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-xs-block"></div>
<div class="col-xs-8 col-md-2 text-right">
  <%= f.submit "実行", class: "btn btn-default" %>
</div>
<% end %>