<div class="table-responsive col-md-12 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-2">コスト(円)</th>
      <th class="col-md-2">コスト(元)</th>
      <th class="col-md-2">コスト(合計)</th>
      <th class="col-md-2">売上</th>
      <th class="col-md-2">利潤</th>
      <th class="col-md-2 text-right">利潤率</th>
    </thead>
    <tbody>
    <tr>
      <td class="text-right">
        <%= commas_help(summary["cost_amount_jp"].to_i) %>円
      </td>
      <td class="text-right">
        <%= commas_help(summary["cost_amount_cn"]) %>元
      </td>
      <td class="text-right">
        <%=commas_help(summary["cost_amount"].to_i) %>
      </td>
      <td class="text-right">
        <%=commas_help(summary["sold_amount"].to_i) %>
      </td>
      <td class="text-right">
        <%=commas_help(summary["profit_amount"].to_i) %>
      </td>
      <td class="text-right">
        <%=summary["profit_rate"] %>%
      </td>
    </tr>
    </tbody>
  </table>
</div>
