<div class="row">
  <div class="col-xs-12 col-md-7">
    【<%= shipment_detail.product_id %>】
    <%= link_to product_name_help(shipment_detail.product_id),
                product_path(shipment_detail.product_id)%>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-1 text-right">
    <%= commas_help((shipment_detail.ship_cost || 0).to_i) %>円
  </div>
  <div class="col-xs-4 col-md-1 text-right">
    <%= commas_help((shipment_detail.insured_cost || 0).to_i) %>円
  </div>
  <div class="col-xs-4 col-md-1 text-right">
    <%= commas_help(shipment_detail.custom_cost || 0) %>元
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-2 text-right">
    <%= link_to "編集", edit_shipment_shipment_detail_path(id: shipment_detail.id),
                remote: true , class: "btn btn-default" %>
    <%= link_to "削除", shipment_shipment_detail_path(id: shipment_detail.id), method: :delete,
                remote: true, data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>