<% provide(:title, '一覧,オークション') %>
<h3>検索条件</h3>
<%= render :partial => 'shared/auction_search_form', locals: { condition: @condition } %>
<h3>オークション一覧</h3>
<div id="total_entries" class="pull-right line-height-22">総件数：<%= @auctions.total_entries %>件</div>
<%= will_paginate(@auctions, :params => { :controller => "auctions", :action => "index"}) %>
<div class="clearfix"></div>
<div class="row header">
  <div class="col-xs-12 col-md-5">オークション</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">売買</div>
  <div class="col-xs-6 col-md-2">カテゴリ</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">処置区分</div>
  <div class="col-xs-6 col-md-1 text-center">総額</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-2 text-right">
    <%= link_to "ロード", 'auctions/initload', class: "btn btn-default" %>
    <%= link_to "New", new_auction_path, class: "btn btn-default" %>
  </div>
</div>
<%= render @auctions %>
<%= will_paginate(@auctions, :params => { :controller => "auctions", :action => "index"}) %>