<div class="row">
  <div class="col-xs-4 col-md-1">
    <%= custom.regist_date.nil? ? "-" : custom.regist_date.strftime("%m/%d/%y") %>
  </div>
  <div class="col-xs-8 col-md-5 hide-text-overflow"><%= custom.custom_name %></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-1 cell-no-padding">
    <%= custom.auction_id.blank? ? "-" : \
        (link_to custom.auction_id, popup_auction_path(auction_id: custom.auction_id), \
         'remote' => true, 'data-toggle' => "modal", 'data-target' => "#popupModal", \
         'class' => "popup") %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">
    <%= custom.product_id.blank? ? custom.regist_status : \
        (link_to custom.product_id, popup_product_path(product_id: custom.product_id), \
         'remote' => true, 'data-toggle' => "modal", 'data-target' => "#popupModal", \
         'class' => "") %>
  </div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= commas_help(custom_total_cost_help(custom.custom_id)) %>円
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-2 text-right">
    <%= link_to "Dis", custom_path(custom.custom_id), class: "btn btn-default" %>
    <%= link_to "Edi", edit_custom_path(custom.custom_id), class: "btn btn-default" %>
    <%= link_to "Del", custom, method: :delete, \
                data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>