<%= form_tag("/auctions/search", method: "post") do %>
<div class="form-horizontal">
  <div class="form-group grid">
    <div class="col-sm-1 header">売買区分</div>
    <div class="col-sm-2">
      <%= select_tag(:sold_type, options_for_select({"" => "(全部)"}.merge!(sold_type_hash_help).invert,
            selected: condition["sold_type"] ), {:class => 'form-control form-field'}) %>
    </div>
    <div class="col-sm-1 header">カテゴリ</div>
    <div class="col-sm-2">
      <%= select_tag(:category_id, options_for_select(category_hash_help.invert,
            selected: condition["category_id"] ), {:class => 'form-control form-field'}) %>
    </div>
    <div class="col-sm-1 header">タイトル</div>
    <div class="col-sm-5">
      <%= text_field_tag(:auction_name , condition["auction_name"],
            {:class => 'form-control form-field'}) %>
    </div>
  </div>

  <div class="form-group grid row_last">
    <div class="col-sm-1 header">未処置</div>
    <div class="col-sm-2">
      <%= select_tag(:undeal_auction, options_for_select(undeal_auction_hash_help.invert,
            selected: condition["undeal_auction"] ), {:class => 'form-control form-field'}) %>
    </div>
    <div class="col-sm-1 header">終了期間</div>
    <div class="col-sm-8">
      <%= select_tag(:year_s, options_for_select(year_hash_help.invert,
            selected: condition["year_s"] ), {:class => 'form-control form-field select-inline'}) %>
      <%= select_tag(:month_s, options_for_select(month_hash_help.invert,
            selected: condition["month_s"] ), {:class => 'form-control form-field select-inline'}) %>
      〜
      <%= select_tag(:year_e, options_for_select(year_hash_help.invert,
            selected: condition["year_e"] ), {:class => 'form-control form-field select-inline'}) %>
      <%= select_tag(:month_e, options_for_select(month_hash_help.invert,
            selected: condition["month_e"] ), {:class => 'form-control form-field select-inline'}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= link_to "Clear", '#', id: "btn-auction-clear", class: "btn btn-default" %>
      <%= submit_tag("Search", {:class => 'btn btn-primary'}) %>
    </div>
  </div>
</div>
<% end %>