<%= form_for(@auction, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group grid">
    <div class="col-sm-1 header">タイトル</div>
    <div class="col-sm-8">
      <%= f.text_field :auction_name, class: 'form-control form-field' %>
    </div>
    <div class="col-sm-1 header">落札価格</div>
    <div class="col-sm-2">
      <%= f.text_field :price, :value => @auction.price.to_i, class: 'form-control form-field text-right' %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">買売</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :sold_flg, sold_type_hash_help, :first, :last, {}, \
          {selected: @auction.sold_flg, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">カテゴリ</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :category_id, category_hash_help, :first, :last, {}, \
          {selected: @auction.category_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">支払方法</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :paymethod_id, paymethod_hash_help, :first, :last, {}, \
          {selected: @auction.paymethod_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">税率</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :tax_rate, tax_rate_hash_help, :first, :last, {}, \
          {selected: @auction.tax_rate, :class => 'form-control form-field'} %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">処置区分</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :ope_flg, ope_flg_hash_help, :first, :last, {}, \
          {selected: @auction.ope_flg, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">ブランド</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :brand_id, brand_hash_help, :first, :last, {}, \
          {selected: @auction.brand_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">送料払方</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :ship_type, ship_type_hash_help, :first, :last, {}, \
          {selected: @auction.ship_type, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">送料額</div>
    <div class="col-sm-2">
      <%= f.text_field :shipment_cost, :value => @auction.shipment_cost.to_i, class: 'form-control form-field text-right' %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">&nbsp;</div>
    <div class="col-sm-2">
      <% if !@auction.auction_id.nil? && PaMap.exists?(:auction_id => @auction.auction_id) %>
      <div class="checkbox line-height-22 disabled">
        <%= f.label :create_product, class: "checkbox" do %>
          <%= f.check_box :create_product, disabled: true %>
          商品作成
        <% end %>
      </div>
      <% else %>
      <div class="checkbox line-height-22">
        <%= f.label :create_product, class: "checkbox" do %>
          <%= f.check_box :create_product %>
          商品作成
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-1 header">モデル</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :modu_id, modu_hash_help, :first, :last, {}, \
          {selected: @auction.modu_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">発送方法</div>
    <div class="col-sm-2">
      <%= collection_select :auction, :shipmethod_id, shipmethod_hash_help(0), :first, :last, {}, \
          {selected: @auction.shipmethod_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">手数料</div>
    <div class="col-sm-2">
      <%= f.text_field :payment_cost, :value => @auction.payment_cost.to_i, class: 'form-control form-field text-right' %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">出品者ID</div>
    <div class="col-sm-2"><%= @auction.seller_id %></div>
    <div class="col-sm-1 header">終了日時</div>
    <div class="col-sm-2">
      <%= @auction.end_time.nil? ? "-" : @auction.end_time.strftime("%F %T") %>
    </div>
    <div class="col-sm-1 header">問合番号</div>
    <div class="col-sm-2">
      <%= f.text_field :shipment_code, class: 'form-control form-field' %>
    </div>
    <div class="col-sm-1 header">総額</div>
    <div class="col-sm-2 text-right"><%= commas_help(auction_total_cost_help(@auction).to_i) %>円</div>
  </div>

  <div class="form-group row-fluid grid row_last">
    <div class="col-sm-1 header memo">メモ</div>
    <div class="col-sm-11"><%= f.text_area :memo, class: 'form-control form-field' %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= f.submit "実行", class: "btn btn-primary" %>
      <%= link_to "戻る", auctions_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
