<%= form_for(@custom, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group grid">
    <div class="col-sm-1 header">ID</div>
    <div class="col-sm-2"><%= @custom.custom_id.blank? ? '-' : @custom.custom_id %></div>
    <div class="col-sm-1 header">名称</div>
    <div class="col-sm-8">
      <%= f.text_field :custom_name, class: 'form-control form-field' %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">オーク品</div>
    <div class="col-sm-2">
      <%= f.label :is_auction, class: "checkbox check-box line-height-22" do %>
        <%= f.check_box :is_auction %>オークション品
      <% end %>
    </div>
    <div class="col-sm-1 header">オーク名</div>
    <div class="col-sm-5">
      <%= collection_select :custom, :auction_id, @auctions, :first, :last, {}, \
          {selected: @custom.auction_id, :class => 'form-control form-field'} %>
    </div>
    <div class="col-sm-1 header">比率</div>
    <div class="col-sm-2">
      <%= collection_select :custom, :percentage, \
          auction_percentage_hash(@custom.auction_id), :first, :last, {}, \
          {selected: @custom.percentage, :class => 'form-control form-field'} %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">単価</div>
    <div class="col-sm-2">
      <%= f.text_field :net_cost, :value => @custom.net_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">消費税</div>
    <div class="col-sm-2">
      <%= f.text_field :tax_cost, :value => @custom.tax_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">その他</div>
    <div class="col-sm-2">
      <%= f.text_field :other_cost, :value => @custom.other_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">総額</div>
    <div class="col-sm-2"><%= custom_total_cost %>円</div>
  </div>

  <div class="form-group row-fluid grid row_last">
    <div class="col-sm-1 header memo">メモ</div>
    <div class="col-sm-11"><%= f.text_area :memo, class: 'form-control form-field' %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-11 col-sm-offset-1">
      <%= f.submit "実行", class: "btn btn-primary" %>
      <%= link_to "戻る", :back, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
