<%= form_tag("/products/search", method: "post") do %>
<div class="form-horizontal">
  <div class="form-group grid">
    <div class="col-sm-2 header">カテゴリ</div>
    <div class="col-sm-3">
      <%= select_tag(:category_id, options_for_select(category_hash_help.invert,
            selected: condition["category_id"] ), {:class => 'form-control form-field'}) %>
    </div>
    <div class="col-sm-2 header">商品名称</div>
    <div class="col-sm-5">
      <%= text_field_tag(:product_name , condition["product_name"],
            {:class => 'form-control form-field'}) %>
    </div>
  </div>

  <div class="form-group grid row_last">
    <div class="col-sm-2 header">内外区分</div>
    <div class="col-sm-3">
      <%= select_tag(:is_domestic, options_for_select({"" => "(全部)"}.merge!(is_domestic_hash_help).invert,
            selected: condition["is_domestic"] ), {:class => 'form-control form-field'}) %>
    </div>
    <div class="col-sm-2 header">売却期間</div>
    <div class="col-sm-5">
      <%= select_tag(:year_s, options_for_select(year_hash_help.invert,
            selected: condition["year_s"] ), {:class => 'form-control form-field select-inline'}) %>
      <%= select_tag(:month_s, options_for_select(month_hash_help.invert,
            selected: condition["month_s"] ), {:class => 'form-control form-field select-inline'}) %>
      〜
      <%= select_tag(:year_e, options_for_select(year_hash_help.invert,
            selected: condition["year_e"] ), {:class => 'form-control form-field select-inline'}) %>
      <%= select_tag(:month_e, options_for_select(month_hash_help.invert,
            selected: condition["month_e"] ), {:class => 'form-control form-field select-inline'}) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12 text-right">
      <%= link_to "Clear", '#', id: "btn-product-clear", class: "btn btn-default" %>
      <%= submit_tag("Search", {:class => 'btn btn-primary'}) %>
    </div>
  </div>
</div>
<% end %>