<%= form_for [@shipment, @shipment_detail], :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group grid">
    <div class="col-sm-1 header">ID</div>
    <div class="col-sm-2">
      <%= @shipment_detail.id.blank? ? '-' : @shipment_detail.id %>
    </div>
    <div class="col-sm-1 header">名称</div>
    <div class="col-sm-8">
      <%= collection_select :shipment_detail, :product_id, \
          products_hash_help(@shipment_detail.product_id), :first, :last, {}, \
          {selected: @shipment_detail.product_id, :class => 'form-control form-field'} %>
    </div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">送料</div>
    <div class="col-sm-2">
      <%= f.text_field :ship_cost, :value => @shipment_detail.ship_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">保険料</div>
    <div class="col-sm-2">
      <%= f.text_field :insured_cost, :value => @shipment_detail.insured_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">関税</div>
    <div class="col-sm-2">
      <%= f.text_field :custom_cost, :value => @shipment_detail.custom_cost.to_i, \
          class: 'form-control form-field text-right' %>
    </div>
    <div class="col-sm-1 header">総額</div>
    <div class="col-sm-2">---円</div>
  </div>

  <div class="form-group row-fluid grid row_last">
    <div class="col-sm-1 header memo">メモ</div>
    <div class="col-sm-11"><%= f.text_area :memo, class: 'form-control form-field' %></div>
  </div>

  <div class="form-group">
    <div class="col-sm-11 col-sm-offset-1">
      <%= f.submit "実行", class: "btn btn-primary" %>
      <%= link_to "戻る", :back, class: "btn btn-default" %>
    </div>
  </div>
<% end %>