<div class="row">
  <div class="col-sm-7">
    【<%= shipment_detail.product_id %>】
    <%= product_name_help(shipment_detail.product_id) %>
  </div>
  <div class="col-sm-1 text-right">
    <%= commas_help(shipment_detail.ship_cost.to_i) %>円
  </div>
  <div class="col-sm-1 text-right">
    <%= commas_help(shipment_detail.insured_cost.to_i) %>円
  </div>
  <div class="col-sm-1 text-right">
    <%= commas_help(shipment_detail.custom_cost) %>元
  </div>
  <div class="col-sm-2">
    <%= shipment_detail.memo %>
  </div>
</div>