<div class="row">
  <div class="col-xs-12 col-md-2">
    <%= sold.sold_date %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-2">
    <%= sold.sold_price.round(3) %>元
  </div>
  <div class="col-xs-4 col-md-2">
    <%= sold.ship_charge.round(3) unless sold.other_charge.nil? %>元
  </div>
  <div class="col-xs-4 col-md-2">
    <%= sold.other_charge.round(3) unless sold.other_charge.nil? %>元
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2">
    <%= sold.memo %>
  </div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= sold_total_price_help(sold).round(3) %>元
  </div>
</div>