<div class="row">
  <div class="col-xs-4 col-md-2">
    <%= commas_help(product_total_cost_help(@auctions, @customs).to_i) %>円
  </div>
  <div class="col-xs-4 col-md-2">
    <%= @product.exchange_rate.to_f %>
  </div>
  <div class="col-xs-4 col-md-2">
    <%= commas_help((@product.exchange_rate.to_f \
                      * product_total_cost_help(@auctions, @customs) / 100).round(3)) %>元
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-2">
    <%= product_total_sold_price_help(@solds).round(3) %>元
  </div>
  <div class="col-xs-4 col-md-2">
    <%= profit_help(@product, @auctions, @customs, @solds).round(3) %>元
  </div>
  <div class="col-xs-4 col-md-2">
    <%= profit_rate_help(@product, @auctions, @customs, @solds).round(3) %>％
  </div>
</div>