<% info = profit_hash_help(product.product_id) %>
<div class="row">
  <div class="col-xs-4 col-md-2 text-center">
    <%= commas_help(product_total_cost_help(product.product_id).to_i) %>
    円
  </div>
  <div class="col-xs-4 col-md-2 text-center">
    <%= product.exchange_rate.to_f %>
  </div>
  <div class="col-xs-4 col-md-2 text-right">
    <%= info["cost_amount"].round(3).to_i if product.is_domestic == 1 %>
    <%= info["cost_amount"].round(3) if product.is_domestic == 0 %>
    <%= product.is_domestic == 1 ? '円' : '元' %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-2 text-right">
    <%= info["sold_amount"].round(3).to_i if product.is_domestic == 1 %>
    <%= info["sold_amount"].round(3) if product.is_domestic == 0 %>
    <%= product.is_domestic == 1 ? '円' : '元' %>
  </div>
  <div class="col-xs-4 col-md-2 text-right">
    <%= commas_help(info["profit_amount"].round(3).to_i) if product.is_domestic == 1 %>
    <%= commas_help(info["profit_amount"].round(3)) if product.is_domestic == 0 %>
    <%= product.is_domestic == 1 ? '円' : '元' %>
  </div>
  <div class="col-xs-4 col-md-2 text-right">
    <%= info["profit_rate"].round(3) %>％
  </div>
</div>