<div class="row">
  <div class="col-xs-4 col-md-1">
    <%= cashflow.happen_date.nil? ? "-" : cashflow.happen_date.strftime("%m/%d/%y") %>
  </div>
  <div class="col-xs-8 col-md-2">
    <%= cashflow.is_auction == 1 ? \
        (link_to cashflow.flow_id, popup_auction_path(auction_id: cashflow.flow_id), \
         'remote' => true, 'data-toggle' => "modal", 'data-target' => "#popupModal", \
         'class' => "popup") :
        (link_to cashflow.flow_id, popup_custom_path(custom_id: cashflow.flow_id), \
         'remote' => true, 'data-toggle' => "modal", 'data-target' => "#popupModal", \
         'class' => "popup") 
       %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-7 hide-text-overflow">
    <%= cashflow.flow_name %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-3 col-md-1 text-center">
    <%= cashflow.is_in == 1 ? ' IN' : 'OUT' %>
  </div>
  <div class="col-xs-6 col-md-1 text-right" style="padding: 0px 10px">
    <%= commas_help(cashflow.amount.to_i) %>円
  </div>
</div>