<% provide(:title, '') %>

<div class="row header">
  <div class="col-xs-12"><h4>商品売上情報</h4></div>
</div>

<div class="table-responsive col-md-6 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">国内</th>
      <th class="col-md-1 text-right">件数</th>
      <th class="col-md-3 text-right">売上</th>
      <th class="col-md-3 text-right">利潤</th>
      <th class="col-md-2 text-right">利潤率</th>
    </thead>
    <tbody>
    <tr>
      <th>今月(<span id="month-id"><%= Date.today.month %></span>月)</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["domestic"]["sold_month_cnt"].to_s + "件", "", \
            id: "link-domestic-sold-month", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_month_amount"].to_i) %>円</td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_month_profit"].to_i) %>円</td>
      <td class="text-right"><%=@summary["domestic"]["sold_month_profit_rate"] %>%</td>
    </tr>
    <tr>
      <th>今年(<span id="year-id"><%= Date.today.year %></span>年)</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["domestic"]["sold_year_cnt"].to_s + "件", "", \
            id: "link-domestic-sold-year", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_year_amount"].to_i) %>円</td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_year_profit"].to_i) %>円</td>
      <td class="text-right"><%=@summary["domestic"]["sold_year_profit_rate"] %>%</td>
    </tr>
    <tr>
      <th>全部</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["domestic"]["sold_all_cnt"].to_s + "件", "", \
            id: "link-domestic-sold-all", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_all_amount"].to_i) %>円</td>
      <td class="text-right"><%=commas_help(@summary["domestic"]["sold_all_profit"].to_i) %>円</td>
      <td class="text-right"><%=@summary["domestic"]["sold_all_profit_rate"] %>%</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-6 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">海外</th>
      <th class="col-md-1 text-right">件数</th>
      <th class="col-md-3 text-right">売上</th>
      <th class="col-md-3 text-right">利潤</th>
      <th class="col-md-2 text-right">利潤率</th>
    </thead>
    <tbody>
    <tr>
      <th>今月(<%= Date.today.month %>月)</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["offshore"]["sold_month_cnt"].to_s + "件", "", \
            id: "link-offshore-sold-month", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_month_amount"].round(2)) %>元</td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_month_profit"].round(2)) %>元</td>
      <td class="text-right"><%=@summary["offshore"]["sold_month_profit_rate"].round(2) %>%</td>
    </tr>
    <tr>
      <th>今年(<%= Date.today.year %>年)</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["offshore"]["sold_year_cnt"].to_s + "件", "", \
            id: "link-offshore-sold-year", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_year_amount"].round(2)) %>元</td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_year_profit"].round(2)) %>元</td>
      <td class="text-right"><%=@summary["offshore"]["sold_year_profit_rate"].round(2) %>%</td>
    </tr>
    <tr>
      <th>全部</th>
      <td class="text-right cell-no-padding">
        <%= link_to @summary["offshore"]["sold_all_cnt"].to_s + "件", "", \
            id: "link-offshore-sold-all", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_all_amount"].round(2)) %>元</td>
      <td class="text-right"><%=commas_help(@summary["offshore"]["sold_all_profit"].round(2)) %>元</td>
      <td class="text-right"><%=@summary["offshore"]["sold_all_profit_rate"].round(2) %>%</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<!-- --------------------- break line --------------------------- -->
<div class="row header">
  <div class="col-xs-12"><h4>取引情報</h4></div>
</div>

<div class="table-responsive col-md-6 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">オークション</th>
      <th class="col-md-2 text-right">売件数</th>
      <th class="col-md-2 text-right">売総額</th>
      <th class="col-md-2 text-right">買件数</th>
      <th class="col-md-3 text-right">買総額</th>
    </thead>
    <tbody>
    <tr>
      <th>今月(<%= Date.today.month %>月)</th>
      <td class="text-right">
        <%= link_to @summary["auction"]["sold_month_cnt"].to_s + "件", "", \
            id: "link-auction-sold-month", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["sold_month_amount"]) %>円</td>
      <td class="text-right">
        <%= link_to @summary["auction"]["bought_month_cnt"].to_s + "件", "", \
            id: "link-auction-bought-month", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["bought_month_amount"]) %>円</td>
    </tr>
    <tr>
      <th>今年(<%= Date.today.year %>年)</th>
      <td class="text-right">
        <%= link_to @summary["auction"]["sold_year_cnt"].to_s + "件", "", \
            id: "link-auction-sold-year", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["sold_year_amount"]) %>円</td>
      <td class="text-right">
        <%= link_to @summary["auction"]["bought_year_cnt"].to_s + "件", "", \
            id: "link-auction-bought-year", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["bought_year_amount"]) %>円</td>
    </tr>
    <tr>
      <th>全部</th>
      <td class="text-right">
        <%= link_to @summary["auction"]["sold_all_cnt"].to_s + "件", "", \
            id: "link-auction-sold-all", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["sold_all_amount"]) %>円</td>
      <td class="text-right">
        <%= link_to @summary["auction"]["bought_all_cnt"].to_s + "件", "", \
            id: "link-auction-bought-all", class: "" %>
      </td>
      <td class="text-right"><%=commas_help(@summary["auction"]["bought_all_amount"]) %>円</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-5">カスタム</th>
      <th class="col-md-3 text-right">オク数</th>
      <th class="col-md-3 text-right">非オク数</th>
    </thead>
    <tbody>
    <tr>
      <th>今月(<%= Date.today.month %>月)</th>
      <td class="text-right">
        <%= link_to @summary["custom"]["auction_month"].to_s + "件", "", \
            id: "link-custom-auction-month", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["custom"]["general_month"].to_s + "件", "", \
            id: "link-custom-general-month", class: "" %>
      </td>
    </tr>
    <tr>
      <th>今年(<%= Date.today.year %>年)</th>
      <td class="text-right">
        <%= link_to @summary["custom"]["auction_year"].to_s + "件", "", \
            id: "link-custom-auction-year", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["custom"]["general_year"].to_s + "件", "", \
            id: "link-custom-general-year", class: "" %>
      </td>
    </tr>
    <tr>
      <th>全部</th>
      <td class="text-right">
        <%= link_to @summary["custom"]["auction_all"].to_s + "件", "", \
            id: "link-custom-auction-all", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["custom"]["general_all"].to_s + "件", "", \
            id: "link-custom-general-all", class: "" %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-6">発送情報</th>
      <th class="col-md-3 text-right">発送数</th>
      <th class="col-md-3 text-right">到着数</th>
    </thead>
    <tbody>
    <tr>
      <th>今月(<%= Date.today.month %>月)</th>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_sending_month"].to_s + "件", "", \
            id: "link-shipment-sending-month", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_arrived_month"].to_s + "件", "", \
            id: "link-shipment-arrived-month", class: "" %>
      </td>
    </tr>
    <tr>
      <th>今年(<%= Date.today.year %>年)</th>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_sending_year"].to_s + "件", "", \
            id: "link-shipment-sending-year", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_arrived_year"].to_s + "件", "", \
            id: "link-shipment-arrived-year", class: "" %>
      </td>
    </tr>
    <tr>
      <th>全部</th>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_sending_all"].to_s + "件", "", \
            id: "link-shipment-sending-all", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["shipment"]["shipment_arrived_all"].to_s + "件", "", \
            id: "link-shipment-arrived-all", class: "" %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="clearfix"></div>
<!-- --------------------- break line --------------------------- -->
<div class="row header">
  <div class="col-xs-12"><h4>データ情報</h4></div>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
      <th class="col-md-6">商品情報</th>
      <th class="col-md-3 text-right">国内</th>
      <th class="col-md-3 text-right">海外</th>
    </thead>
    <tbody>
    <tr>
      <th>未売数</th>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["domesitc_unsale_cnt"].to_s + "件", "", \
            id: "link-product-domestic-unsale", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["offshore_unsale_cnt"].to_s + "件", "", \
            id: "link-product-offshore-unsale", class: "" %>
      </td>
    </tr>
    <tr>
      <th>売済数</th>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["domesitc_sold_cnt"].to_s + "件", "", \
            id: "link-product-domestic-sold", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["offshore_sold_cnt"].to_s + "件", "", \
            id: "link-product-offshore-sold", class: "" %>
      </td>
    </tr>
    <tr>
      <th>未済</th>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["domestic_no_cost_cnt"].to_s + "件", "", \
            id: "link-product-domestic-no-cost", class: "" %>
      </td>
      <td class="text-right">
        <%= link_to @summary["undeal_product"]["offshore_sending_cnt"].to_s + "件", "", \
            id: "link-product-offshore-sending", class: "" %>
      </td>
    </tr>
    <tr>
      <th>合計</th>
      <td class="text-right">
        <%= @summary["undeal_product"]["domesitc_unsale_cnt"].to_i + \
            @summary["undeal_product"]["domestic_no_cost_cnt"].to_i + \
            @summary["undeal_product"]["domesitc_sold_cnt"].to_i %>件
      </td>
      <td class="text-right">
        <%= @summary["undeal_product"]["offshore_unsale_cnt"].to_i + \
            @summary["undeal_product"]["offshore_sold_cnt"].to_i + \
            @summary["undeal_product"]["offshore_sending_cnt"].to_i %>件
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-7">オーク情報</th>
      <th class="col-md-5 text-right">件数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>区分未登録</th>
      <td class="text-right">
        <%= link_to @summary["undeal_auction"]["operation_unregist"].to_s + "件", "", \
            id: "link-auction-operation-unregist", class: "" %>
      </td>
    </tr>
    <tr>
      <th>商品未登録</th>
      <td class="text-right">
        <%= link_to @summary["undeal_auction"]["product_unregist"].to_s + "件", "", \
            id: "link-auction-product-unregist", class: "" %>
      </td>
    </tr>
    <tr>
      <th>カス未登録</th>
      <td class="text-right">
        <%= link_to @summary["undeal_auction"]["custom_unregist"].to_s + "件", "", \
            id: "link-auction-custom-unregist", class: "" %>
      </td>
    </tr>
    <tr>
      <th>合計</th>
      <td class="text-right">
        <%= @summary["undeal_auction"]["operation_unregist"].to_i + \
            @summary["undeal_auction"]["product_unregist"].to_i + \
            @summary["undeal_auction"]["custom_unregist"].to_i %>件
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-7">カスタム情報</th>
      <th class="col-md-5 text-right">件数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>未処置</td>
      <td class="text-right">
        <%= link_to @summary["undeal_custom"]["product_unregist"].to_s + "件", "", \
            id: "link-product-unregist", class: "" %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive col-md-3 cell-no-padding">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="col-md-7">発送情報</th>
      <th class="col-md-5 text-right">件数</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>発送中</th>
      <td class="text-right">
        <%= link_to @summary["shipment_status"]["sending"].to_s + "件", "", \
            id: "link-shipment-sending", class: "" %>
      </td>
    </tr>
    <tr>
      <th>到着済</th>
      <td class="text-right">
        <%= link_to @summary["shipment_status"]["arrived"].to_s + "件", "", \
            id: "link-shipment-arrived", class: "" %>
      </td>
    </tr>
    <tr>
      <th>-</th>
      <td class="text-right">-</td>
    </tr>
    <tr>
      <th>合計</th>
      <td class="text-right">
        <%= @summary["shipment_status"]["sending"].to_i + \
            @summary["shipment_status"]["arrived"].to_i %>件
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- --------------------- break line --------------------------- -->
<%= form_tag("", method: "post", id: "bashboard-form") do %>
<div id="dummy">&nbsp;</div>
<% end %>