<div class="row">
  <div class="col-xs-2 col-md-1">
    <%= brand.brand_id %>
  </div>
  <div class="col-xs-10 col-md-8">
    <%= brand.brand_name %>
    (
      <%= link_to "#{brand.modus.count}", brand_modus_path(brand) %>
    )
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-md-3">
    <%= link_to "編集", edit_brand_path(brand.brand_id), class: "btn btn-default" %>
    <%= link_to "削除", brand, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>