<% provide(:title, '編集 | カテゴリー') %>
<div class="content">
  <h4 class="title">カテゴリー編集</h4>
  <div class="new">&nbsp;</div>
  <div class="form">
    <%= form_for(@category) do |f| %>
      <%= render 'error_messages' %>
      
      <div class="formRow">
        <div class="formCell1">ID</div>
        <div class="formCell2"><%= @category.category_id %><%= f.hidden_field :category_id %></div>
      </div>
      
      <div class="formRow">
        <div class="formCell1"><%= f.label :category_name, '名称' %></div>
        <div class="formCell2"><%= f.text_field :category_name, class: 'input' %></div>
      </div>
      
      <div class="formRow">
        <%= f.submit "更新", class: "btn btn-primary" %>
        <%= link_to "戻る", categories_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>