<%= form_for @shipmethod, remote: true do |f|   %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="col-xs-2 col-md-1">
  <%= @shipmethod.shipmethod_id.blank? ? '-' : @shipmethod.shipmethod_id %>
</div>
<div class="col-xs-10 col-md-7">
  <%= f.text_field  :shipmethod_name, class: 'form-control' %>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-xs-block"></div>
<div class="col-xs-4 col-md-2">
  <%= collection_select :shipmethod, :shipmethod_type, shipmethod_type_hash, :first, :last, {},
      {selected: @shipmethod.shipmethod_type, :class => 'form-control form-field'} %>
</div>
<div class="col-xs-8 col-md-2 text-right">
  <%= f.submit "実行", class: "btn btn-default" %>
</div>
<% end %>