<div class="row">
  <div class="col-xs-12 col-md-6"><%= product.product_name %></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">
    <%= link_to pa_map_auction_cnt_help(product.product_id),
                product_pa_maps_path(product_product_id: product.product_id) %>
  </div>
  <div class="col-xs-6 col-md-1">
    <%= link_to pc_map_custom_cnt_help(product.product_id),
                product_pc_maps_path(product_product_id: product.product_id) %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-12 col-md-1">
    <%= is_domestic_name_help(product.is_domestic) %>
  </div>
  <div class="col-xs-12 col-md-3 text-right">
    <%= link_to "表示", product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "編集", edit_product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "削除", product, method: :delete, \
                data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>