<div class="row">
  <div class="col-xs-12 col-md-5"><%= product.product_name %></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1 text-center">
    <%= is_domestic_name_help(product.is_domestic) %>
  </div>
  <div class="col-xs-6 col-md-2 text-center">
    <%= link_to pa_map_auction_cnt_help(product.product_id),
                product_pa_maps_path(product_product_id: product.product_id),
                class: "btn btn-default" %>
    <%= link_to pc_map_custom_cnt_help(product.product_id),
                product_pc_maps_path(product_product_id: product.product_id),
                class: "btn btn-default" %>
    <%= link_to shipment_detail_cnt_by_product_id_help(product.product_id), "#", class: "btn btn-default disabled" %>
    <%= link_to sold_cnt_help(product.product_id),
                product_solds_path(product_product_id: product.product_id),
                class: "btn btn-default" if product.is_domestic == 0 %>
    <%= link_to "-", "#", class: "btn btn-default disabled" unless product.is_domestic == 0 %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= "未" if sold_cnt_help(product.product_id) == 0 && product.is_domestic == '1' %>
    <%= profit_help(product.product_id).round(3) %>元
    (<%= profit_rate_help(product.product_id).round(3) %>％)
  </div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= link_to "Dis", product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "Edi", edit_product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "Del", product, method: :delete, \
                data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>