<div class="row">
  <div class="col-xs-4 col-md-1">
    <%= product.sold_date.nil? ? "-" : product.sold_date.strftime("%m/%d/%y") %>
  </div>
  <div class="col-xs-8 col-md-4 hide-text-overflow">
    <%= product.product_name %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1 text-center">
    <%= is_domestic_name_help(product.is_domestic) %>
  </div>
  <div class="col-xs-6 col-md-2 text-center">
    <%= link_to product.auction_cnt,
                product_pa_maps_path(product_product_id: product.product_id),
                class: "btn btn-default" %>
    <%= link_to product.custom_cnt,
                product_pc_maps_path(product_product_id: product.product_id),
                class: "btn btn-default" %>
    <%= link_to product.shipment_cnt, "#", class: "btn btn-default disabled" %>
    <%= link_to product.sold_cnt,
                product_solds_path(product_product_id: product.product_id),
                class: "btn btn-default" if product.is_domestic == 0 %>
    <%= link_to "-", "#", class: "btn btn-default disabled" unless product.is_domestic == 0 %>
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= "未" if product.sold_date.nil? %>
    <% if !product.sold_date.nil? %>
      <% info = product_profit_help(product) %>
      <%= commas_help(info["profit_amount"].round(3).to_i) if product.is_domestic == 1 %>
      <%= commas_help(info["profit_amount"].round(3)) if product.is_domestic == 0 %>
      <%= product.is_domestic == 1 ? "円" : "元" %>
      (<%= info["profit_rate"].round(3) %>％)
    <% end %>
  </div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= link_to "Dis", product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "Edi", edit_product_path(product.product_id), class: "btn btn-default" %>
    <%= link_to "Del", product_path(product.product_id), method: :delete, \
                data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>