<% provide(:title, '表示,商品') %>
<h3>商品表示</h3>
<div class="form-horizontal">
  <div class="form-group grid">
    <div class="col-sm-1 header">ID</div>
    <div class="col-sm-2"><%= @product.product_id %></div>
    <div class="col-sm-1 header">名称</div>
    <div class="col-sm-8"><%= @product.product_name %></div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header">処理区分</div>
    <div class="col-sm-2"><%= is_domestic_name_help(@product.is_domestic) %></div>
    <div class="col-sm-1 header">カテゴリ</div>
    <div class="col-sm-2"><%= category_name_help(@product.category_id) %></div>
    <div class="col-sm-1 header">ブランド</div>
    <div class="col-sm-2"><%= brand_name_help(@product.brand_id) %></div>
    <div class="col-sm-1 header">モデル</div>
    <div class="col-sm-2"><%= modu_name_help(@product.modu_id) %></div>
  </div>

  <div class="form-group grid">
    <div class="col-sm-1 header cell-no-padding text-center">為替レート</div>
    <div class="col-sm-2"><%= @product.exchange_rate %></div>
    <div class="col-sm-1 header">売却日</div>
    <div class="col-sm-8"><%= @product.sold_date.nil? ? "-" : @product.sold_date %></div>
  </div>

  <div class="form-group grid row_last">
    <div class="col-sm-1 header memo">メモ</div>
    <div class="col-sm-11">
      <%= @product.memo.blank? ? "-" : simple_format(@product.memo, class: 'memo-data') %>
    </div>
  </div>
</div>

<% unless @auctions.empty? %>
<h4>オークションリスト</h4>
<div class="row header">
  <div class="col-xs-6 col-md-1">終了日</div>
  <div class="col-xs-6 col-md-2">オークID</div>
  <div class="col-xs-12 col-md-7 text-center">名称</div>
  <div class="col-xs-12 col-md-2 text-center">総額</div>
</div>
<%= render :partial => 'shared/auction', :collection => @auctions %>
<% end %>

<% unless @customs.empty? %>
<h4>カスタムリスト</h4>
<div class="row header">
  <div class="col-xs-6 col-md-1">オーク品</div>
  <div class="col-xs-6 col-md-2">カスID</div>
  <div class="col-xs-12 col-md-7 text-center">名称</div>
  <div class="col-xs-12 col-md-2 text-center">総額</div>
</div>
<%= render :partial => 'shared/custom', :collection => @customs %>
<% end %>

<% unless @shipment_details.empty? %>
<h4>発送情報</h4>
<div class="row header">
  <div class="col-xs-4 col-md-1">発送日</div>
  <div class="col-xs-4 col-md-2 text-center">発送方法</div>
  <div class="col-xs-4 col-md-1 text-center">到着日</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-3 col-md-2 text-center">発送料金</div>
  <div class="col-xs-3 col-md-2 text-center">保険料金</div>
  <div class="col-xs-3 col-md-2 text-center">関税</div>
  <div class="col-xs-3 col-md-2 text-center">総額</div>
</div>
<%= render :partial => 'shared/shipment_detail2', :collection => @shipment_details %>
<% end %>

<% unless @solds.empty? %>
<h4>売り情報</h4>
<div class="row header">
  <div class="col-xs-6 col-md-1">売出日</div>
  <div class="col-xs-6 col-md-3 text-center">メモ</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2 text-center">売値</div>
  <div class="col-xs-6 col-md-2 text-center">送料</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2 text-center">他料金</div>
  <div class="col-xs-6 col-md-2 text-center">総額</div>
</div>
<%= render :partial => 'shared/sold', :collection => @solds %>
<% end %>

<% if !@product.sold_date.blank? %>
<h4>取引まとめ</h4>
<div class="row header">
  <div class="col-xs-4 col-md-2">円支出</div>
  <div class="col-xs-4 col-md-2 text-center">為替レート</div>
  <div class="col-xs-4 col-md-2 text-center">元支出</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-4 col-md-2 text-center">売値</div>
  <div class="col-xs-4 col-md-2 text-center">利潤</div>
  <div class="col-xs-4 col-md-2 text-center">利潤率</div>
</div>
<%= render :partial => 'shared/summary', locals: { product: @product } %>
<% end %>

<div class="form-group">
  <div class="col-sm-12 text-right">
    <%= link_to "戻る", products_path, class: "btn btn-default" %>
  </div>
</div>