<div class="row">
  <div class="col-xs-6 col-md-2"><%= shipment.sent_date %></div>
  <div class="col-xs-6 col-md-2"><%= shipmethod_name_help(shipment.shipmethod_id) %></div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2"><%= shipment.arrived_date %></div>
  <div class="col-xs-6 col-md-2 text-right">
    <%= commas_help(shipment_cost_help(shipment.shipment_id)) %>円
  </div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">
    <%= link_to shipment_detail_cnt_help(shipment.shipment_id),
                shipment_shipment_details_path(shipment.shipment_id),
                class: "btn btn-default"%>
  </div>
  <div class="col-xs-12 col-md-3 text-right">
    <%= link_to "Dis", shipment_path(shipment.shipment_id), class: "btn btn-default" %>
    <%= link_to "Edi", edit_shipment_path(shipment.shipment_id), class: "btn btn-default" %>
    <%= link_to "Del", shipment, method: :delete, \
                data: { confirm: "削除しますか?" }, class: "btn btn-default" %>
  </div>
</div>