<% provide(:title, '一覧,発送') %>
<h3>検索条件</h3>
<%= render :partial => 'shared/shipment_search_form', locals: { condition: @condition } %>
<h3>発送一覧</h3>
<div id="total_entries" class="pull-right line-height-22">総件数：<%= @shipments.total_entries %>件</div>
<%= will_paginate(@shipments, :params => { :controller => "shipments", :action => "index"}) %>
<div class="clearfix"></div>
<div class="row header">
  <div class="col-xs-6 col-md-2">発送日</div>
  <div class="col-xs-6 col-md-2">発送方法</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-2">到着日</div>
  <div class="col-xs-6 col-md-2 text-center">発送料金</div>
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-md-1">商品数</div>
  <div class="col-xs-6 col-md-3 text-right">
    <%= link_to "New", new_shipment_path, class: "btn btn-default" %>
  </div>
</div>
<%= render @shipments %>
<%= will_paginate(@shipments, :params => { :controller => "shipments", :action => "index"}) %>